<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="UTF-8" />
    <base href="/"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css"  href="css/style.css" />
    <link rel="shortcut icon" href="assets/logo.png" type="image/x-icon">
    <title>Hoque Medical Clinic</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <div class="logo">
                    <img src="assets/logo.png" alt="" class="logo-img">

                    <div class="logo-text">

                        <h1 class="logo-head">Hoque</h1>
                        <span class="logo-desc">Medical clinic</span>
                    </div>
                </div>
            </a>
            <div class="menu">
                <ul class="ul">
                    <a href="#intro">
                        <li>Gaestrologist</li>
                    </a>
                    <li>Our Mission</li>
                    <li>Quick Cost</li>
                    <li>Insuarance</li>
                    <li>Procedures</li>
                    <li>Pre-Op</li>
                    <li>Contact</li>
                </ul>
            </div>

            <button class="sandwich-button" aria-label="Toggle menu">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>
            <nav id="menuSlider" aria-hidden="true">
                <ul class="slider-menu">
                    <a href="#intro">
                        <li>Gaestrologist</li>
                    </a>
                    <li>Our Mission</li>
                    <li>Quick Cost</li>
                    <li>Insuarance</li>
                    <li>Procedures</li>
                    <li>Pre-Op</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </nav>
    </header>