<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');
    </style>
    <link href="css/anim.css" rel="stylesheet">
    <link href="css/home.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    
    <style>
        /* *{
            overflow-x: hidden;
        } */
    </style>
 
    <title>Hoque Medical Clinic</title>
</head>

<body class="bg-primary font-classic">

    <header class="sticky top-0 py-4 z-20 bg-primary ">
        <!-- ---------------- navbar ------------------------- -->

        <nav class="max-w-[1380px] m-auto px-8  flex items-center  justify-between sticky top-0">
            <div class="flex items-center justify-center gap-2">
                <img src="assets/logo.png" alt="" class="w-14">
                <div class="flex flex-col items-start justify-center">
                    <h1 class="font-black text-3xl ">Hoque</h1>
                    <span class="text-sm text-slate-600">Medical Clinic</span>
                </div>
            </div>

            <ul class="flex items-center justify-between gap-10 text-xl max-[1024px]:hidden">
                <a href="#mission">

                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Our Mission</li>
                </a>
                <!-- <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Insuarance</li> -->
                <a href="#pre-op">
                    
                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Procedure</li>
                </a>
                <a href="#pre-op">
                    
                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Pre-Op</li>
                </a>
                <a href="#contact">

                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Contact</li>
                </a>
            </ul>
            <button class="sandwich-button lg:hidden" aria-label="Toggle menu">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
            </button>


            <!-- ----------------- mobile slider-------------------- -->
            <nav id="menuSlider" class=" bg-secondary p-l-10" aria-hidden="true">
                <ul class="slider-menu mt-20"><a href="#mission">

                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Our Mission</li>
                </a>
                <!-- <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Insuarance</li> -->
                <a href="#pre-op">
                    
                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Procedure</li>
                </a>
                <a href="#pre-op">
                    
                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Pre-Op</li>
                </a>
                <a href="#contact">

                    <li class="hover:cursor-pointer hover:text-accent hover:-translate-y-1 transition-all ">Contact</li>
                </a>
                </ul>
            </nav>
        </nav>
    </header>

    <main class="sticky top-[88px] mb-40">

        <!-- ------------------ scroll navigator -------------------------  -->

        <div style="left: 50%;transform: translateX(-50%);"
            class="w-10 absolute top-[65vh] left-48 z-20 flex flex-col items-center justify-center hover:cursor-pointer  md:hidden">
            <svg class="w-10 h-10 animate-bounce" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1"
                id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_225_"
                    d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
            </svg>
            <svg class="w-10 h-10 animate-bounce delay-1000" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000" height="800px" width="800px" version="1.1"
                id="Layer_1" viewBox="0 0 330 330" xml:space="preserve">
                <path id="XMLID_225_"
                    d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393  c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393  s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z" />
            </svg>
            Scroll Down
        </div>

        <!-- ----------------- hero -------------------------------- -->
        <section class="hero max-[800px]:bg-left w-full sticky top-[88px]   -z-10  mb-36   ">
            <div
                class="sect   my-0  text-blue-500 py-5 h-full flex flex-col items-center sticky top-[88px] justify-center gap-20 -z-10 max-[800px]:justify-start max-[800px]:pt-44 ">
                <div class="flex flex-col justify-center items-center gap-6">
                    <h1 id="hero-title" class="text-7xl font-black tracking-widest max-[800px]:text-4xl text-center">
                        Nazmul Hoque MD
                    </h1>
                    <p class="text-slate-600 text-xl"> Your Health, Our Priority </p>
                </div>
                <div class="rounded-md"><a href="#pre-op"><button class="bg-accent text-white py-2 px-6 text-lg rounded-md">See
                        Procedures</button></a></div>
            </div>
        </section>

        <div id="animation" class="mt-20">

            <!-- --------------------- about ------------------------  -->

            <section
                class="sect  flex justify-between items-center gap-40 max-[900px]:flex-col-reverse max-[900px]:gap-16">
                <div class="flex flex-col gap-20 max-[900px]:gap-10 justify-between">
                    <div id="first" class="flex flex-col hidden-l  gap-5">
                        <h1 class="text-4xl font-black max-[900px]:text-2xl">
                            About Nazmul Hoque MD
                        </h1>
                        <p class="text-lg max-[900px]:text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dicta sunt expedita
                            repellendus
                            consectetur, labore magni soluta nesciunt quia quae eius illo quam illum quos alias ipsam,
                            unde,
                            nulla id error quis tempore facere! Earum repellendus a magni. Odio, quidem.
                        </p>
                    </div>
                    <div class="flex flex-col hidden-l gap-5">
                        <h1 class="text-4xl font-black max-[900px]:text-2xl">
                            Education
                        </h1>
                        <p id="mission" class="text-lg max-[900px]:text-base">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero dicta sunt expedita
                            repellendus
                            consectetur, labore magni soluta nesciunt quia quae eius illo quam illum quos alias ipsam,
                            unde,
                            nulla id error quis tempore facere! Earum repellendus a magni. Odio, quidem.
                        </p>
                    </div>
                </div>

                <img  src="assets/pic.jpg" class="w-2/6 rounded-md max-[900px]:w-4/5" alt="">
            </section>



            <!-- ------------------------------ mission ---------------------------------------- -->
            <section  class="sect  flex justify-center flex-col my-40  hidden-r  items-center gap-10 max-[900px]:gap-16">

                <h1 class="text-5xl max-[800px]:text-3xl border-b-2   border-secondary">Our Mission</h1>
                <p id="pre-op" class="text-lg max-[800px]:text-base text-center  w-4/5">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum at, sint iusto quae non quis
                    laboriosam cum eum dolorem voluptate voluptates autem, deserunt enim numquam amet rerum suscipit,
                    maxime
                    magni! Aliquid, neque. Ipsum, vitae. Obcaecati commodi alias illo, nam assumenda amet sint?
                    Dignissimos,
                    sint a modi facere provident deleniti enim!
                </p>

            </section>
            <!-- ------------------------------ pre-ops ---------------------------------------- -->
            <section  class="sect  flex justify-center flex-col my-40 hidden-r items-center gap-10 max-[900px]:gap-16">

                <h1 class="text-5xl max-[800px]:text-2xl  border-b-2 border-secondary ">Pre Operation Instrucions
                </h1>
                <p id="contact" class="text-lg max-[800px]:text-base w-4/5  text-center">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum at, sint iusto quae non quis
                    laboriosam cum
                </p>

                <div class="grid grid-cols-2 gap-24 max-[1024px]:grid-cols-1 max-[1024px]:gap-10">
                    
                    <% files.forEach(element=> { %>
                        <div class="rounded-md bg-primary flex  items-center justify-between gap-4 text-lg py-2 px-6 max-[800px]:text-sm max-[800px]:px-4">
                            <svg class="w-4" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                        <path
                            d="M64 0C28.7 0 0 28.7 0 64L0 448c0 35.3 28.7 64 64 64l256 0c35.3 0 64-28.7 64-64l0-288-128 0c-17.7 0-32-14.3-32-32L224 0 64 0zM256 0l0 128 128 0L256 0zM112 256l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16zm0 64l160 0c8.8 0 16 7.2 16 16s-7.2 16-16 16l-160 0c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
                    </svg>
                            <%= element.name %>
                                <a href="<%= element.url %>" target="_blank">

                                    <button
                                        class="bg-secondary border-2 text-sm border-slate-500 text-white py-2 px-4  rounded-md">Open
                                        File</button>
                                </a>
                        </div>
                        <% }) %>

                </div>

            </section>

            <!-- ------------------------------ contact ---------------------------------------- -->
            <section class="sect  flex justify-center flex-col my-40 hidden-r  items-center gap-10 max-[900px]:gap-16">

                <h1 class="text-5xl max-[800px]:text-3xl border-b-2   border-secondary">Contact</h1>
                <div class="grid grid-cols-2 max-[1000px]:grid-cols-1 gap-16 w-full">

                    <p class="text-lg max-[800px]:text-base   w-4/5">
                        <span class="font-black">Phone :</span> 04394893493
                    </p>
                    <p class="text-lg max-[800px]:text-base   w-4/5">
                        <span class="font-black">fax :</span> +04394893493
                    </p>
                    <p class="text-lg max-[800px]:text-base   w-4/5">
                        <span class="font-black">Address :</span> kazipara, mirpur ohio
                    </p>
                    <p class="text-lg max-[800px]:text-base   w-4/5">
                        <span class="font-black">map :</span> 04394893493
                    </p>
                </div>

            </section>


            <!-- ------------------------------  map ---------------------------------------- -->
            <section class="sect  flex justify-center flex-col my-40 hidden-r  items-center gap-10 max-[900px]:gap-16">

                <h1 class="text-5xl max-[800px]:text-3xl border-b-2   border-secondary">Map Direction</h1>
                <iframe class="w-full"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6211.554926402753!2d-77!3d38.883333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b833ac66506b%3A0x3b60521b76e78b6a!2sEastern%20Market!5e0!3m2!1sen!2sbd!4v1733343221843!5m2!1sen!2sbd"
                    height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </section>

        </div>

    </main>

    <footer class=" flex justify-center items-center bg-primary my-0 py-6 blur-0 border-t-2 border-accent">
        NAZMUL HOQUE MD
    </footer>


    <script src="script/script.js"></script>

</body>

</html>